# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
*.log

# Env files (keep examples)
.env
.env.*
!.env.example
frontend/.env
backend/.env

# Build outputs
dist/
build/
coverage/
frontend/dist/
frontend/.vite/

# Docker artifacts
*.pid
*.tar

# Pulumi local state
infra/node_modules/
infra/Pulumi.*.yaml
infra/Pulumi.*.json
infra/.pulumi/
